pipeline/Filter activity.json
{
	"name": "Filter activity",
	"properties": {
		"activities": [
			{
				"name": "Filter",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.filterparameter",
						"type": "Expression"
					},
					"condition": {
						"value": "@item()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['EmployeeID']"
											},
											"sink": {
												"name": "EmployeeID"
											}
										},
										{
											"source": {
												"path": "$['EmployeeName']"
											},
											"sink": {
												"name": "EmployeeName"
											}
										},
										{
											"source": {
												"path": "$['Department']"
											},
											"sink": {
												"name": "Department"
											}
										},
										{
											"source": {
												"path": "$['Salary']"
											},
											"sink": {
												"name": "Salary"
											}
										},
										{
											"source": {
												"path": "$['DateOfJoining']"
											},
											"sink": {
												"name": "DateOfJoining"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sink_csv",
									"type": "DatasetReference",
									"parameters": {
										"folder": "Filteractivitydirectory",
										"filename": "data.Json"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"filterparameter": {
				"type": "string",
				"defaultValue": "{1,2,3,4,5,6,7}"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-22T03:31:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}