pipeline/Getmetadata.json
{
	"name": "Getmetadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "inputdatasetforgetmatadate",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Get Metadata').output.childItems), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "false file",
								"value": "no file fond"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "employee1",
											"type": "Expression"
										},
										"wildcardFileName": "employee_datahr.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Department",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Department",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "DateOfJoining",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DateOfJoining",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "inputdatasetforgetmatadate",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sink_csv",
									"type": "DatasetReference",
									"parameters": {
										"folder": "foldergetmetadata",
										"filename": "getmetadata"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"no file": {
				"type": "String"
			},
			"false file": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-25T07:42:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}