pipeline/Incremental load.json
{
	"name": "Incremental load",
	"properties": {
		"activities": [
			{
				"name": "GetLastWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT LastValue FROM dbo.watermarktablenew WHERE TableName = 'SalesOrderDetail';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LoadNewData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * \nFROM [SalesLT].[SalesOrderDetail]\nWHERE ModifiedDate > '@{activity('GetLastWatermark').output.firstRow.LastValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlOutput",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sp_UpdateWatermarknew",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoadNewData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateSalesOrdersWatermarknew]",
					"storedProcedureParameters": {
						"LastValue": {
							"value": {
								"value": "@{activity('LoadNewData').output.sourcePeakValue.ModifiedDate}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-11-30T18:08:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}