pipeline/LookupActivity.json
{
	"name": "LookupActivity",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "inputdatasetforLookupactivity",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Department",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Department",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateOfJoining",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DateOfJoining",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "inputdatasetforLookupactivity",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OutputdatasetforLookupactivity",
						"type": "DatasetReference",
						"parameters": {
							"Outputfoldername": {
								"value": "@activity('Lookup').output.firstRow.Name",
								"type": "Expression"
							},
							"filename": "Lookupcopyactivity.csv"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-11-23T05:49:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}